/* 
    Document   : style
    Created on : 29-May-2012, 9:53:31 PM
    Author     : rylan
    Description:
        Purpose of the stylesheet follows.
*/

/* 
    Document   : style
    Created on : 29-May-2012, 9:13:44 PM
    Author     : rylan
    Description:
        Purpose of the stylesheet follows.
*/





*{
    margin:0px;
    padding:0px;
    list-style:none;
    display: block;
}

body{
    background:url(css/images/back2.png) 0 0 no-repeat;
    background-attachment:fixed;
    

}
#big_wrapper{
    max-width:1000px;
    
   
   border:2pt black solid;
   
   margin-bottom:0;
 background:url(css/images/back.png) 0 0 repeat-y;
box-shadow: 0px 0px 200px #000000;

}

#top_menu{
    
  left : 0px ;
  position : fixed ;
  top : 0px ;
  width : 100% ;
  height:40px;
  z-index: 1;
  background:url(css/images/nav.png) 0 0 repeat-x;
  text-align: center;
  border-bottom:1pt grey solid;
  
}
#top_menu li{
    
    display:inline-block;
    list-style: none;
    padding-top:0.4em;
    padding-left:0.3em;
    padding-right:0.3em;
    
}
#top_menu a{
    text-decoration: none;
    padding:0.25em;
    font-size: 13pt;
    font-family:Trebuchet MS;
    color:white;
    border-radius: 3px;
    border:2pt grey ridge;
    
    
}

#main_section{
    
    
    margin:20px;
    padding: 20px;
}
#footer{
    border-top:2pt grey ridge;
    background:white;
}

#foot{
    height:260px;
    
    display:none;
}

#banner{
    width:100%;
    margin-top:2em;
    margin-bottom: 2em;
}
#maillist{
    background:url(css/images/bck4.jpg) -570px 0 no-repeat;
    width:160px;
    border:black 1pt solid;
    padding:5px;
}
#maillist input[type="text"]{
    width:150px;
    
}
#maillist input[type="Submit"]{
   margin:5px 5px 5px 0;
   border:grey 1pt solid;
   background: #1C1C1C;
   color:white;
   padding:3px;
}
#maillist input[type="Submit"]:hover{
    color:#eabe42;
}
#maillist h2{
    text-align: center;
    text-decoration: underline;
}


#link a:hover{
    color:#eabe42;
    background:url(css/images/nav2.png) 0 -4px no-repeat;
}

